@model Entidades.Usuario
@{
    ViewBag.Title = "Cadastro de Usuario";
}

<h2>@ViewBag.Title</h2>

<h2>@ViewBag.MensagemInicio</h2>

<div class="well well-sm text-primary text-center">
    @ViewBag.MensagemExito
    @ViewBag.MensagemErro
</div>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <fieldset>

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                    @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdNivel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.IdNivel, ViewBag.ListarNivel as SelectList, "Selecione um Nivel", htmlAttributes: new { @class = "form-control" })

                </div>
            </div>

        </fieldset>

        <div class="form-actions col-md-offset-2">
            <input class="btn btn-primary" type="submit" name="btnsalvar" value="Salvar" />
            <br />
            @Html.ActionLink("Voltar para Lista", "Index")
        </div>
    </div>

}