@model List<Entidades.Pedido>
@{
    ViewBag.Title = "Pedidos";
}

<h2>@ViewBag.Title</h2>

<h2>@ViewBag.MensagemInicio</h2>

<div class="well well-sm text-primary text-center">
    @ViewBag.MensagemExito
    @ViewBag.MensagemErro
</div>

@using (Html.BeginForm())
{

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <table id="example" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th>ID</th>
                        <th>CNPJ</th>
                        <th>Nome Fantasia</th>
                        <th>Razao Social</th>
                        <th>Cod. Interno</th>
                        <th>Endereco</th>
                        <th>Cidade/SP</th>
                        <th>Data Cadastro</th>
                        <th>Situação</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var rs in Model)
                    {
                        <tr class="even pointer">
                            <td>@rs.CodigoInterno/@rs.IdPedido</td>
                            <td>@rs.Cliente.Nome @rs.Cliente.Sobrenome</td>
                            <td>@rs.Cliente.Email</td>
                            <td>@rs.DataCadastro</td>
                            <td>@rs.Status.NomeStatus</td>
                            <td>
                                <a class="btn btn-info" href="~/Pedido/Atualizar/@rs.IdPedido">Editar</a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
    
        </div>
    </div>

}
