@model Entidades.Log
@{
    ViewBag.Title = "SurfClub";
}

<div class="row top_tiles">

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-caret-square-o-right"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadePranchas</div>

            <h3>Pranchas</h3>
            <p>Pranchas Registradas</p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-sort-amount-desc"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadeLocacoes</div>

            <h3>Retiradas</h3>
            <p>Pranchas Retiradas.</p>
        </div>
    </div>


    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-sort-amount-desc"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadeLocacoesDevolvidas</div>

            <h3>Devolvidas</h3>
            <p>Pranchas Devolvidas.</p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-sort-amount-desc"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadeLocacoesAtrasadas</div>

            <h3>Retiradas</h3>
            <p>Pranchas Atrasadas.</p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-sort-amount-desc"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadeDevolvidasAtrasadas</div>

            <h3>Locadas</h3>
            <p>Pranchas Devolvidas c/ atraso.</p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-check-square-o"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadePranchasDisponiveis</div>

            <h3>Disponiveis</h3>
            <p>Pranchas Disponiveíes para Locação.</p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-caret-square-o-right"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadeCliente</div>

            <h3>Clientes</h3>
            <p>Clientes Registrados</p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-caret-square-o-right"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadeFornecedores</div>

            <h3>Fornecedores</h3>
            <p>Fornecedores Registrados</p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-caret-square-o-right"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadePontoRetiradas</div>

            <h3>Pontos</h3>
            <p>Pontos de Entregas Registrados</p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                @*<i class="fa fa-caret-square-o-right"></i>*@
            </div>
            <div class="count">@ViewBag.QuantidadePedidos</div>

            <h3>Pedidos</h3>
            <p>Pedidos Realizado neste ano.</p>
        </div>
    </div>

    @*<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-caret-square-o-right"></i>
            </div>
            <div class="count">0</div>

            <h3>Reservas</h3>
            <p>Reservas.</p>
        </div>
    </div>*@

</div>

